@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-radius:5px;
    --main-padding:5px;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    grid-gap: 0.2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

nav{
    background-color: #6a4c93;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


main{
    background-color: #1982c4;    
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar{
    background-color: #8ac926;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
    background-color: #ffca3a;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2{
    background-color: #ff595e;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background-color: #4cc9f0;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer{
    background-color: #f15bb5;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width:500px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}